*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --side-grey: #b1b1b1;
    --hover-grey: #e9ebeb;
  }

main{
    background: linear-gradient(0deg, #dbdbd2 85%, #009688 60%);
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
}

.noPadding {
    padding-left: 0 !important;
    padding-right:  0 !important;
 }

.sender{
    background-color: black;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 10px;
}

.senderContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem 0 1rem 0;
}

.receiver{
    background-color: rgb(160, 253, 253);
    padding: 0.7rem 1rem;
    border-radius: 10px;
}

.receiverContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 0 1rem 0;
}

#windowChat{
    height: 90vh;
    min-width: 900px;
}


#chatSection{
    height: 100%
}

#userOption, 
#chatOption{
    background-color: #eaeaea;
    height: 60px;
    border-right: 1px solid var(--side-grey);
}

#messageBar{
    background-color: #f3eeea;
    height: 70px;
    width: 100%;
}


#activeChat{
  background-color: white ;
    height: calc(80% - 70px);
    overflow: scroll;
    
}

#chatText{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--hover-grey);
}